.admin-container{
    display: flex;
    // height: 100vh;  
    overflow: hidden;
    .admin-sidebar {
        .pro-sidebar {
            height: 100vh !important;
            position: fixed;
            top: 0;
        }
    }

    .admin-content {
      margin-left: 270px; // Đảm bảo nội dung không bị sidebar che khuất
      flex: 1;
      min-height: 100vh;
    //   padding: 20px;
      background-color: #f4f4f4;
       flex-direction: column; 
      .admin-header {
        flex: 0 0 auto;
        display: flex;
        align-items: center;    
        gap: 20px;
        padding: 10px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        position: fixed;
        top: 0;
        left: 270px;
        right: 0;
        z-index: 1000;
      }
      .admin-main {
        flex: 1;
      overflow-y: auto;  // ✅ chỉ scroll trong khu vực main khi dữ liệu quá dài
      // padding: 20px;
      margin-top: 44px;
      }
    }
}