.admin-container{
    display: flex;
    .admin-sidebar {
        .pro-sidebar {
            height: 100vh !important;
        }
    }

    .admin-content {
      flex: 1;
    //   padding: 20px;
      background-color: #f4f4f4;
      .admin-header {
        display: flex;
        align-items: center;    
        gap: 20px;
        padding: 10px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
      }
      .admin-main {
        margin-top: 20px;
      }
    }
}