body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  .Header-container {
    .navbar {
      z-index: 10;
      .navbar-nav {
        .nav-link {
          &.active {
            color: #00bfff;
          }
        }
      }
    }
  }
  .Main-container {
    video {
      position: fixed;
      top: 0;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
    }
  }
}